.env
package-lock.json
node_modules
.DS_Store
README.md

ERC20/*
ERC20/.DS_Store
ERC20/.env
ERC20/node_modules

ERC721/*
ERC721/.DS_Store
ERC721/.env
ERC721/node_modules


# Hardhat files
*/cache
*/artifacts

# TypeChain files
*/typechain
*/typechain-types

# solidity-coverage files
*/coverage
*/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Application logs
*/logs
*/node_modules

#Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
